process {

    executor = 'local'

    withLabel: qc {
        cpus = 1
        memory = '512 MB'
    }

    withLabel: light_task {
        cpus = 1
        memory = '1 GB'
    }

    withLabel: heavy_task {
        cpus = 4
        memory = '4 GB'
    }

    withLabel: analysis {
        cpus = 2
        memory = '2 GB'
    }
}

timeline {
    enabled = true
    file = "timeline.html"
}

report {
    enabled = true
    file = "execution_report.html"
}

dag {
    enabled = true
    file = "dag.png"
}