params {

    star_index = "./genome/star_index"
    annotation = "./genome/annotation.gtf"

}

process {

    executor = 'local'

    withLabel: qc {
        cpus = 2
        memory = '2 GB'
    }

    withLabel: trimming {
        cpus = 2
        memory = '4 GB'
    }

    withLabel: alignment {
        cpus = 8
        memory = '16 GB'
    }

    withLabel: post_alignment {
        cpus = 2
        memory = '4 GB'
    }

    withLabel: quantification {
        cpus = 4
        memory = '8 GB'
    }

    withLabel: post_processing {
        cpus = 1
        memory = '1 GB'
    }
     withLabel: analysis {
      cpus = 4
      memory = '8 GB'
    }
    

}