/*
 * Day 01 Configuration
 * Establishing execution environment discipline
 */

process {
    executor = 'local'
    cpus = 1
    memory = '1 GB'
    time = '1h'
}

timeline {
    enabled = true
    file = "timeline.html"
}

report {
    enabled = true
    file = "report.html"
}

trace {
    enabled = true
    file = "trace.txt"
}
