workDir = "${projectDir}/work"

profiles {

    local {
        includeConfig 'conf/base.config'
    }

    docker {
        includeConfig 'conf/base.config'
        includeConfig 'conf/docker.config'
    }

    slurm {
        includeConfig 'conf/base.config'
        includeConfig 'conf/slurm.config'
    }

    params {
    input     = "./input"
    metadata  = "./metadata/samplesheet.csv"
    star_index = "./genome/star_index"
    annotation = "./genome/annotation.gtf"
    batch_size = 2
    }

    timeline {
    enabled = true
    file = "timeline.html"
    }

    report {
    enabled = true
    file = "execution_report.html"
    }

    trace {
    enabled = true
    file = "trace.txt"
    }

    dag {
    enabled = true
    file = "dag.png"
    }
    
}
process {

    cache = 'deep'   // ensures robust caching across runs

    withName: STAR_ALIGN {
        cache = 'deep'
    }

    withName: FEATURECOUNTS {
        cache = 'deep'
    }

    maxForks = 4 // limit paraller jobs

    queueSize = 10 // control job submission

}

cleanup = false
