/*
 * Default parameters
 */
params {
    outdir = "./results"
}

/*
 * Process configuration
 */
process {

    executor = 'local'

    /*
     * Label-based resource allocation
     */
    withLabel: simulation {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }

    /*
     * Default error strategy
     */
    errorStrategy = 'terminate'
}

/*
 * Output settings
 */
timeline {
    enabled = true
    file = "timeline.html"
}

report {
    enabled = true
    file = "execution_report.html"
}

trace {
    enabled = true
    file = "trace.txt"
}

dag {
    enabled = true
    file = "dag.png"
}