process {

    executor = 'local'

    withLabel: light_task {
        cpus = 1
        memory = '512 MB'
        time = '1h'
    }
}

timeline {
    enabled = true
    file = "timeline.html"
}

report {
    enabled = true
    file = "execution_report.html"
}

trace {
    enabled = true
    file = "trace.txt"
}

dag {
    enabled = true
    file = "dag.png"
}