params {
    input = "./input"
    reference = "./genome/reference.fa"
}

process {

    withLabel: alignment {
        cpus = 8
        memory = '16 GB'
    }

    withLabel: processing {
        cpus = 4
        memory = '8 GB'
    }

    withLabel: variant {
        cpus = 4
        memory = '8 GB'
    }

}