profiles {

    local {
        includeConfig 'conf/base.config'
    }

    docker {
        includeConfig 'conf/base.config'
        includeConfig 'conf/docker.config'
    }

    slurm {
        includeConfig 'conf/base.config'
        includeConfig 'conf/slurm.config'
    }

    params {
    input     = "./input"
    metadata  = "./metadata/samplesheet.csv"
    star_index = "./genome/star_index"
    annotation = "./genome/annotation.gtf"
    }

}