/*
 * Day 13 – Advanced Channel Operators
 * Configuration File
 */

process {

    executor = 'local'

    /*
     * Default resource configuration
     */
    cpus = 1
    memory = '1 GB'
    time = '1h'

}

/*
 * Enable monitoring for structural inspection
 */
timeline {
    enabled = true
    file = "timeline.html"
}

report {
    enabled = true
    file = "execution_report.html"
}

trace {
    enabled = true
    file = "trace.txt"
}

dag {
    enabled = true
    file = "dag.png"
}